.main {
  .addressData {
    background-color: cornsilk;
  }
  .form {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    padding: 45px;
    .field {
      display: flex;
      flex-direction: column;
      width: 414px;
      .textfield {
        background-color: white;
      }
    }
  }
}
