.main {
    margin-top: 50px;
    display: flex;
    padding-left: 30px;
    justify-content: center;
    gap: 30px;
    .sub {
        display: flex;
        flex-direction: column;
        align-items: center;
        .h2 {
            font-size: var(--title-size);
            font-family: var(--font-brand);
            margin-left: 20px;
            margin-right: 20px;
            @media (max-width: 765px) {
                font-size: var(--title-size);
            }
        }
    }

    @media (max-width: 765px) {
        flex-direction: column;
        padding-left: 0px;
    }
    .imgWrapper {
        display: flex;

        gap: 30px;
        @media (max-width: 765px) {
            flex-direction: column;
            padding-left: 0px;
            align-items: center;
        }
    }
    img {
        border-radius: 20px;
    }
    .roundgold {
        border: 10px solid var(--color-secondary-light);
        background-color: var(--color-main);
        max-width: 84px;
        max-height: 91px;
        border-radius: 999999px;
        display: flex;
        align-items: center;
        padding: 30px;
        margin-left: -124px;
        margin-top: -35px;
        font-weight: 700;
        @media (max-width: 765px) {
            border-radius: 8px;
            margin-left: 0;
            margin-top: 0;
            border: none;
            max-height: 0;
            max-width: 135px;
        }
        .roundgoldText {
            color: var(--color-secondary-light);
            font-size: 23px;
            margin-left: 15px;
        }
    }
    h2 {
        font-size: var(--title-size);
    }
    .cardContainer {
        display: flex;
        justify-content: space-between;
        @media (max-width: 765px) {
            flex-direction: column;
            align-items: center;
        }
        .card {
            width: 37%;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            padding: 30px;
            margin-bottom: 30px;
            box-shadow: var(--shadow);
            align-items: center;
            @media (max-width: 765px) {
                width: 75vw;
            }
            .iconContainer {
                display: flex;
                justify-content: center;
            }
        }
    }

    .primaryBtn {
        border-radius: 6000px;
        border: 2px solid black;
        padding: 15px 15px;
        display: flex;
        align-items: center;
        &:hover {
            background-color: var(--color-main);
        }
        .icon {
            margin-top: 3px;
            margin-left: 4px;
            svg {
                width: 23px;
            }
        }
    }
}
.capitalizedTitleContainer {
    display: flex;
    align-items: flex-end;
    .capitalizedTitle {
        font-weight: 500;
        margin-bottom: 9px;
    }
    .dot {
        font-size: var(--title-size);
        color: var(--color-main);
        margin-left: 3px;
    }
}
