.bar {
    background-color: var(--color-main);
    position: fixed;
    left: 0;
    right: 0;
    height: var(--order-botton-height);
    bottom: calc(var(--order-botton-height) * -1);
    transition: bottom 0.3s ease-in-out;

    &.open {
        bottom: 0px;
    }

    .format {
        margin-left: 20px;
        margin-top: 20px;
        display: flex;
        gap: 5px;
        p {
            margin-top: 0;
            font-weight: 700;
        }
    }
    .namesbar {
        display: flex;
        margin-right: 20px;
        margin-left: 10px;
    }
}
