.sticky {
  position: fixed;
  max-height: 60px;
  margin-top: 1em;
}
.nav {
  background-color: white;
  min-height: 70px;
  border-radius: 2000px;
  min-width: 900px;
  display: flex;
  align-content: center;
  justify-content: space-around;
  gap: 14px;
  padding-right: 20px;
  align-items: center;
  .icon {
    margin-top: 4px;
    margin-left: 3px;
    svg {
      width: 23px;
    }
  }
  .links {
    display: flex;
    align-items: center;
    gap: 20px;

    .link {
      color: black;
      background-color: transparent;

      &:hover {
        color: gold;
      }
    }
    .primaryBtn {
      border-radius: 6000px;
      border: 2px solid black;
      padding: 15px 15px;
      display: flex;
      align-items: center;

      &:hover {
        background-color: gold;
      }
    }
  }

  .dropdown {
    background-color: gold;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 16px;
    border-radius: 20px;
    gap: 10px;
    .submenu {
      color: black;
      &:hover {
        color: white;
      }
    }
  }
}
