.orderSummary {
    background-color: white;
    border: 2px solid gold;
    max-height: 200px;
    .layout {
        padding: 30px;
    }
    .btn {
        background-color: gold;
        color: black;
        &:hover {
            background-color: gold;
            color: black;
        }
    }
}
