.orderSummary {
    background-color: var(--color-secondary-light);
    border: 2px solid var(--color-main);
    border-radius: 20px;
    max-height: 240px;
    .layout {
        padding: 30px;
        p {
            font-family: var(--font-brand);
            font-weight: bold;
            font-size: var(--title-size-mobile);
        }
        a {
            padding-bottom: 20px;
        }
    }
    .btn {
        background-color: var(--color-main);
        color: black;
        margin-bottom: 20px;
        &:hover {
            background-color: var(--color-main);
            color: black;
        }
    }
}
