.main {
    min-height: 80vh;
    margin-left: 15px;
    margin-right: 15px;
    .title {
        color: var(--color-main);
        @media (max-width: 765px) {
            font-size: 20px;
        }
    }
    .cardsContainer {
        justify-items: center;
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin-bottom: 100px;
        @media (max-width: 765px) {
            flex-direction: column;
        }

        .card {
            background-color: white;
            display: flex;
            max-width: 295px;
            flex-direction: column;
            border-radius: 40px;
            padding-bottom: 20px;
            img {
                border-top-left-radius: 40px;
                border-top-right-radius: 40px;
            }
            span {
                margin-left: 10px;
            }
        }
    }
    .logoWrapper {
        display: flex;
        justify-content: center;
    }
}
