.leafletContainer {
    height: 300px;
    width: 400px;
    margin-top: 20px;

    @media (max-width: 765px) {
        justify-content: center;
        display: flex;
        max-width: 85vw;
    }
}
