.main {
    padding: 40px;
    border-radius: 8px;
    border: 3px solid var(--color-main);
    @media (max-width: 765px) {
        padding: 15px;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        min-width: 350px;

        .select {
            background-color: var(--color-secondary-light);
            width: 100px;
            border-bottom: 2px solid var(--color-main);
        }
    }
    .field {
        display: flex;
        flex-direction: column;
        .textfield {
            background-color: var(--color-secondary-light);
            border-bottom: 2px solid var(--color-main);
        }
    }
}
