.main {
    display: flex;
    justify-content: center;
    padding: 40px;
    border-radius: 8px;
    background-color: var(--color-secondary);
    gap: 40px;
    min-height: 70vh;
    @media (max-width: 765px) {
        padding: 15px;
        flex-direction: column-reverse;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        min-width: 350px;
        margin-bottom: 100px;
        @media (max-width: 765px) {
            margin-left: 20px;
            margin-right: 20px;
        }
        .select {
            background-color: var(--color-secondary-light);
            width: 100px;
            border-bottom: 2px solid var(--color-main);
        }
    }
    .field {
        display: flex;
        flex-direction: column;
        .textfield {
            background-color: var(--color-secondary-light);
            border-bottom: 2px solid var(--color-main);
        }
    }
    .flexRow {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        @media (max-width: 765px) {
            flex-direction: column;
        }
        .zip {
            max-width: 100px;
        }
        .district {
            min-width: 100px;
        }
        .street {
            text-transform: capitalize;
        }
    }
    .map {
        .flexCol {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .row {
                display: flex;
                gap: 10px;
            }
        }
        .title {
            font-family: var(--font-brand);
        }
        @media (max-width: 765px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
